@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

/* Seu CSS existente */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: large;
    list-style: none;
    text-decoration: none;
}

:root {
    --violet: #0c0707;
    --white: #ffffff;
    --black: #c4bebe;
    --h4: #2b1313;
    --blue: #020202;
    --grey: #000000b7;
    --newpink: #810000;
    --formal-font: 'Merriweather', serif;
}

body {
    color: var(--violet);
    background-color: #000000ea;
    font-family: var(--formal-font);
    
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #463e3e;
    width: 100%;
    background: var(--grey);
    transition: all 0.5s;
    position: fixed;
    top: 0;
    left: 0;
} 

.navigation .logo {
    color: var(--black);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    font-weight: 600;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a {
    font-size: 19px;
    font-weight: 500;
    transition: all 0.5s;
    font-family: var(--formal-font);
}

.navigation ul li a:hover {
    color: #030303;
} 

.navigation i {
    cursor: pointer;
    font-size: 1.5rem;
} 

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
    background: var(--newpink);
}

.home {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
    align-items: center; /* Centraliza no eixo transversal */
    justify-content: flex-start; /* Centraliza no eixo principal */
    padding: 20px 10%;
    margin-top: 80px; /* Ajuste para considerar a altura do header fixo */
    text-align: center; /* Centraliza o texto */
    gap: 20px; /* Espaço entre os elementos */
}

.home-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
}

.home-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.home-img img {
    max-width: 100%;
    height: auto;
}

.text-h4 {
    font-family: var(--formal-font);
    font-size: 2rem;
    color: var(--h4);
    margin-bottom: 10px;
    font-weight: 700;
}

.text-box {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border: none; /* Remova a borda para evitar conflito visual com os estilos dos botões */
    background-color: transparent; /* Remova a cor de fundo para permitir a visualização dos estilos de fundo dos botões */
    position: relative; /* Adicione posição relativa para poder aplicar estilos de sobreposição */
}

.text-box::before,
.text-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Envie para trás dos conteúdos da caixa */
    transition: all 0.4s ease; /* Adicione uma transição suave */
    border-radius: 8px; /* Ajuste a borda conforme necessário */
}

.text-box::before {
    background-color: rgba(0, 0, 0, 0); /* Cor de fundo transparente */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; /* Sombra da caixa de texto */
}

.text-box::after {
    background: #e7e6e6da; /* Cor de fundo semelhante ao botão */
    backdrop-filter: blur(5px); /* Efeito de desfoque semelhante ao botão */
}

.text-box:hover::before {
    background-color: rgba(0, 0, 0, 0.05); /* Altera a cor de fundo ao passar o mouse */
}

.text-box:hover::after {
    background: #e4e0e0bb; /* Altera a cor de fundo ao passar o mouse */
}

.text-box p {
    margin-bottom: 10px;
}

.text-box a {
    display: inline-block;
    margin-top: 10px;
}

.image-box img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.text-content {
    font-family: "Poppins", sans-serif;
    font-size: large;
}

.small-image {
    width:80%;
    height: auto;
}

.small-image-2 {
    width: 20%;
    height: auto;
    
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-section {
    width: 70%;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px; /* Ajuste a borda conforme necessário */
}

.right-section {
    width: 30%; /* Ajuste a largura conforme necessário */
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px; /* Ajuste a borda conforme necessário */
}

/* CSS */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #bebcbc75;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

/* CSS */

@media screen and (max-width: 768px) {
    .navigation {
        padding: 10px 20px;
        z-index: 1000;
    }
    
    .nav-menu {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--grey);
        display: none;
        z-index: 999;
    }
    
    .nav-menu.active {
        display: block;
        z-index: 999;
    }
    
    .nav-item {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        z-index: 999;
    }
    
    .menu {
        display: block;
        z-index: 1000;
    }
    
    .home-text,
    .home-img {
        width: 100%;
        z-index: 1000;
    }

    .text-h4 {
        font-size: 1.5rem;
        margin-bottom: 20px;
        z-index: 1000;
    }

    .text-box,
    .image-box {
        margin: 10px;
    }

    .left-section,
    .right-section {
        width: 100%;
        padding: 20px;
        margin: 10px 0;
        box-shadow: none;
        border-radius: 0;
    }

    .button-86 {
        width: 100%;
        margin-bottom: 10px;
    }

    /* Redimensionamento das imagens */
    .small-image,
    .small-image-2 {
        width: 100%; /* Define a largura máxima das imagens como 100% */
        height: auto; /* Mantém a proporção da altura */
        max-width: 100%; /* Define a largura máxima das imagens como 100% */
        max-height: 400px; /* Define a altura máxima das imagens */
    }
}
