@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

/* CSS Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: large;
    list-style: none;
    text-decoration: none;
}

:root {
    --violet: #0c0707;
    --white: #ffffff;
    --black: #c4bebe;
    --h4: #2b1313;
    --blue: #020202;
    --grey: #000000b7;
    --newpink: #c4bebe;
    --formal-font: 'Merriweather', serif;
}

body {
    color: var(--violet);
    background-color: #000000ea;
    font-family: var(--formal-font);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #463e3e;
    width: 100%;
    background: var(--grey);
    transition: all 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; /* Definindo um valor alto para garantir que o menu fique sobre as caixas de texto */
}

.navigation .logo {
    color: var(--black);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    font-weight: 600;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a {
    font-size: 19px;
    font-weight: 500;
    transition: all 0.5s;
    font-family: var(--formal-font);
}

.navigation ul li a:hover {
    color: #030303;
}

.navigation i {
    cursor: pointer;
    font-size: 1.5rem;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--newpink);
}

.menu.open .bar:nth-child(2) {
    opacity: 0;
}

.menu.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.home {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 10%;
    margin-top: 80px;
    text-align: center;
    gap: 20px;
}

.home-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
}

.home-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.home-img img {
    width: 100%;
    height: auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

/* Estilo dos botões */
.button-86 {
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-86::after,
.button-86::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

.button-86::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #28282d;
    border-radius: 10px;
}

.button-86::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}

.button-86:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.button-86:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.button-86:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}

/* Estilo das caixas de texto */
.text-box {
    position: relative;
    padding: 20px;
    margin: 20px 0;
    background: var(--white);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
    z-index: 1; /* Definindo um valor menor do que o do menu para garantir que as caixas de texto fiquem abaixo do menu */
}

.text-box::before,
.text-box::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.text-box::before {
    background: linear-gradient(135deg, rgb(250, 250, 250),rgba(0, 0, 0, 0.7));
    transform: rotate(3deg);
}

.text-box::after {
    background: linear-gradient(135deg, rgba(158, 156, 156, 0.39), rgb(255, 254, 254));
    transform: rotate(-3deg);
}

.text-box:hover::before,
.text-box:hover::after {
    transform: rotate(0);
}

/* Imagens menores */
.small-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

/* Layout Desktop */
.container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    margin-top: 80px; /* Para evitar sobreposição do cabeçalho fixo */
}

.left-section {
    width: 60%; /* Largura da seção esquerda */
    padding: 10px;
    border: 2px solid var(--newpink);
}

.right-section {
    width: 40%; /* Largura da seção direita */
    padding: 10px;
    border: 2px solid var(--newpink);
}

/* Linhas divisórias mais sutis */
.left-section,
.right-section {
    border: 1px solid rgba(180, 146, 146, 0.4);
    box-shadow: 0 0 10px rgba(61, 17, 17, 0.2);
}

/* Adicionando as novas classes para a seção de imagens e áudios */
.content {
    display: flex;
    flex-direction: column; /* Ajuste para dispositivos móveis */
    justify-content: space-between;
    margin: 20px;
}

@media(min-width: 768px) {
    .content {
        flex-direction: row; /* Ajuste para dispositivos maiores */
    }
}

.audio-section {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

@media(min-width: 768px) {
    .audio-section{
        width: 48%;
        margin-bottom: 0;
    }
}

.audio-section h2, .images-section h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.audio-section audio {
    display: block;
    margin-bottom: 10px;
}

.images-section {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

@media(min-width: 768px) {
    .images-section {
        width: 48%; /* Reduzindo a largura para 48% para que fique ao lado da seção de áudio */
        margin-bottom: 0;
    }
}

.image-gallery {
    display: flex;
    flex-wrap: wrap; /* Permitindo que as imagens sejam exibidas em várias linhas */
    justify-content: center; /* Centralizando as imagens horizontalmente */
    gap: 10px; /* Adicionando um espaçamento entre as imagens */
}

.image-gallery img {
    width: calc(50% - 5px); /* Definindo a largura máxima para 50% menos o espaçamento entre as imagens */
    max-width: 300px; /* Definindo uma largura máxima para as imagens */
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition: transform 0.3s ease; /* Adicionando uma transição suave ao passar o mouse sobre as imagens */
}

.image-gallery img:hover {
    transform: scale(1.05); /* Aumentando ligeiramente o tamanho da imagem ao passar o mouse sobre ela */
}

/* Layout Mobile */
@media screen and (max-width: 768px) {
    .navigation ul {
        display: none;
    }

    .navigation .menu {
        display: block;
    }

    .navigation .nav-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: var(--grey);
        z-index: 1000;
    }

    .navigation .nav-menu.open {
        display: flex;
    }

    .container {
        flex-direction: column;
        padding: 0;
    }

    .left-section, .right-section {
        width: 100%;
        border: none;
        padding: 10px;
    }

    .text-box {
        padding: 10px;
    }

    .small-image {
        max-width: 100%;
    }
}
